

  @media screen and (min-width: 1199px) {
    #desktop{
        display: block;
    }
    #mobile{
        display: none;
    }
  }

  #myTab{
    overflow: hidden;
  }

  .btn-dark-modal {
    background-color: #111;
    color: #fff;
}

a{
  overflow: hidden;
}